$primary: #dd2f58;
$primary-disabled: #c6657a;
$secondary: #ce661c;
$primary-text: #313030;
$secondary-text: #313030;
$body-color: #313030;
$body-bg: #fff;
$human-bubble: #4f4444;
$font-family-base: system-ui, "Segoe UI", Roboto, sans-serif;
